.login_page_container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.login_page_content{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 3;
    padding:3vw 0 3vw 0;
}

.login_page_title{
    font-size: 1.5vw;
    color: #597EF7;
}

.login_page_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.login_page_form_input{
    margin-bottom: 1.5vw!important;
    width: 20vw;
    text-align: left;

}


.login_page_submit_btns{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.login_register_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-bottom: 1vw;
}

.login_page_login_btn{
    margin-right:1vw;
}

.login_page_reg_link{
    color: darkgray;
    text-decoration: none;
    margin-left: 1vw;
}

.login_page_reg_link:hover{
    text-decoration:underline;
}

.google_btn{
    width:70%;
    margin:0 auto;
    color: black!important;
    border-radius: 10px !important;
    display: flex;
    align-items: center;
}

.google_btn div{
    border-radius: 50% !important;
}