.survey_catalog_container {
  padding: 1.5vw 5vw;
}

.page_title {
  display: flex;

  h1 {
    color: #597EF7;
    font-size: 1.5vw;
    text-align: center;
    margin: 0 auto;
  }

  .buttonAdd {
    width: 200px;
    height: 38px;
    font-size: 14px;
    align-self: center;
  }
}

.survey_filters {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin:50px 0;
}


.filters_select {
  width:10%;
  font-size: 10px;
}

.search_form{
  width:30%;
}



.survey_catalog {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.survey_for {
  text-align: left;
  font-size: 1.2vw;
  width: 30%;
  border-bottom: 1px solid lightgray;
  color: #69C0FF
}

.surveys {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, auto);

}


.navlink{
  text-decoration: none;
}
.survey_item {
  grid-row: span 3;
  width: 95%;
  margin: 5px;
  text-align: left;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 5px;


  .survey_item_theme {
    border-bottom: 1px solid lightgray;

    p {
      font-size: 0.9vw;
      font-weight: bold;
      padding: 15px 25px;
      margin: 0;
      color:black;
    }
  }


  .questions_title_count {
    padding: 25px 25px;

    .questions_title {
      color: black;
      font-size: 0.9vw;
      margin-bottom: 10px;
    }

    .questions_count {
      font-size: 0.8vw;
      color: darkgray;
    }
  }

}


.survey_item:nth-child(8n+2),
.survey_item:nth-child(8n+4),
.survey_item:nth-child(8n+7),
.survey_item:nth-child(8n) {

  grid-row: span 2;

  .survey_item_theme {
    border-bottom: 1px solid lightgray;

    p {
      font-size: 0.9vw;
      font-weight: bold;
      padding: 5px 25px;
      margin: 0;
    }

  }

  .questions_title_count {
    padding: 10px 25px;

    .questions_title {
      font-size: 0.9vw;
      margin-bottom: 0;
    }

    .questions_count {
      font-size: 0.8vw;
      color: darkgray;
    }
  }

}

/*


  .questions_title_count {
    padding: 15px 10px;

    .questions_title {
      font-size: 0.7vw;
      margin-bottom: 5px;
    }

    .questions_count {
      font-size: 0.7vw;
      color: darkgray;
    }
  }
}
}

.survey_item:nth-child(8n+2), .survey_item:nth-child(8n+4), .survey_item:nth-child(8n+5), .survey_item:nth-child(8n+7) {
  margin-top: 5px;
  display: inline-block;

  .survey_item_theme {
    p {
      padding: 0 10px;
    }
  }

  .questions_title_count {
    padding: 5px 10px;

    .questions_title {
      margin-bottom: 2px;
    }
  }
}*/


